body {
}

.adminActionContainer {
  display: flex;
  margin: 10px;
}

.adminActionContainer > * {
  margin-right: 10px;
}

.info {
  margin-right: 20px;
}

.userTableContainer {
  max-height: 203px;
  overflow: auto;
  position: relative;
  margin: 20px 40px;
  display: flex;
  justify-content: center;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table th {
  position: sticky;
  top: 0;
  background-color: #002c77;
  color: #f5f5f5;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
}

tr td:nth-child(4) {
  text-align: center;
}

.inputWindowContainer {
  margin: 0 40px;
  border: 1px solid;
}

.inputWindowContainer * {
  margin: 20px;
}

.inputWindowContainerName {
  font-weight: 700;
}

.inputContainer {
  display: flex;
  flex-direction: column;
}

.inputContainer * {
  margin: 0px;
}

.inputItem {
  height: 32px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.inputItem > input[type="text"],
.inputItem > input[type="password"] {
  width: 292px;
  margin-right: 20px;
}

.inputItem > input[type="radio"] {
  margin: 0 10px;
}

.inputItem > select {
  height: 21px;
  width: 300px;
  margin-right: 20px;
}

.inputLabel {
  width: 200px;
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.inputError {
  font-size: 12px;
  color: gray;
  display: flex;
  align-items: center;
}

.buttonContainer {
  margin-bottom: 0;
  display: flex;
  justify-content: center;
}

.buttonContainer button {
  width: 100px;
}

.buttonContainer a {
  margin: 0px;
}
