/*
Sahmyook Blue: #002c77
Sahmyook Sky Blue: #00afec
Sahmyook Dark Gray: #171914
*/

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.topBar {
  height: 40px;
  background: linear-gradient(to bottom, #002c77, #00afec);
}

.bottomBar {
  height: 40px;
  background: linear-gradient(to top, #002c77, #00afec);
}

.mainContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.container > * {
  margin: 20px auto;
}

.inputContainer {
  width: 250px;
  height: 170px;
}

.inputContainer > p {
  margin: 0px;
}

.errorMessage {
  color: red;
  font-size: 10px;
  margin: 5px 0px;
}

input {
  box-sizing: border-box;
  width: 100%;
}

input[type="checkbox"] {
  width: initial;
  margin-left: 0px;
}
